[submodule "apps/barcode_shrdc"]
  path = apps/barcode_shrdc
  url = git:https://github.com/msf4-0/ERPNext-Barcode-Integration.git
[submodule "apps/chat"]
  path = apps/chat
  url = git:https://github.com/frappe/chat.git
[submodule "apps/erpnext"]
  path = apps/erpnext
  url = git: https://github.com/frappe/erpnext.git 
[submodule "apps/frappe"]
  path = apps/frappe
  url = git:https://github.com/frappe/frappe.git
[submodule "apps/hrms"]
  path = apps/hrms
  url = git:https://github.com/frappe/hrms.git 
[submodule "apps/india_compliance"]
  path = apps/india_compliance
  url = git:https://github.com/resilient-tech/india-compliance.git 
[submodule "apps/payments"]
  path = apps/payments
  url = git:https://github.com/frappe/payments.git 
[submodule "apps/whatsapp_integration"]
  path = apps/whatsapp_integration
  url = git:https://github.com/asoral/whatsapp_integration.git
